<head>
  <link
    href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.css"
    rel="stylesheet"
  />
</head>

<div
  id="default-carousel"
  class="relative md:w-3/5 w-full mx-auto border border-black rounded-lg my-5 p-4"
  data-carousel="slide"
>
  <!-- Carousel wrapper -->
  <div class="relative h-56 overflow-hidden rounded-lg md:h-96">
    <!-- Item 1 -->
    <div class="hidden duration-700 ease-in-out" data-carousel-item>
      <div
        class="absolute flex justify-center items-center gap-5 w-full h-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
      >
        <img
          src="https://i.pinimg.com/236x/d7/32/ad/d732ad7e857b731bbee2097fa8786be4.jpg"
          class="w-1/2 rounded-t-full h-full object-contain"
          alt="..."
        />
        <div class="rounded-lg bg-white flex flex-col p-4 w-1/2  h-full shadow-2xl">
          <p class="font-bold text-black uppercase tracking-wide self-start">
            Mision
          </p>
          <p>
            Transporte Empresarial de la Costa S.A.S., es una Organización de
            Transporte Especial responsable consigo mismo, la comunidad y el
            ambiente para una transformación del tránsito en Colombia; dedicada
            a prestar servicios a un grupo específico de personas que tengan una
            característica común y homogénea en su origen y destino, como
            estudiantes, turistas, empleados, personas con discapacidad y/o
            movilidad reducida, pacientes no crónicos y particulares que
            requieren de un servicio expreso de calidad y seguridad Con los
            recursos necesarios para satisfacer las necesidades de los clientes
            y partes interesadas acorde al Marco legal vigente y políticas de la
            organización.
          </p>
        </div>
      </div>
    </div>
    <!-- Item 2 -->
    <div class="hidden duration-700 ease-in-out" data-carousel-item>
      <div
        class="absolute flex justify-center items-center gap-5 w-full h-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
      >
        <img
          src="https://i.pinimg.com/236x/eb/da/36/ebda36a1b936d28ed86a3e5d493b10cf.jpg"
          class="w-1/2 rounded-t-full h-full object-contain"
          alt="..."
        />
        <div class="rounded-lg bg-white flex flex-col p-4 w-1/2  h-full shadow-2xl">
          <p class="font-bold text-black uppercase tracking-wide self-start">
            VISIÓN
          </p>
          <p>
            Transporte Empresarial de la Costa S.A.S., Se proyecta para el 2031
            como uno de las empresas de Transporte Especial líder, aspirando a
            ser la preferida por su excelente calidad y seguridad en sus
            operaciones, aplicando la normatividad vial, contribuyendo con la
            satisfacción de las necesidades y expectativas de nuestros clientes
            e interesados; con el apoyo de recursos a la vanguardia de las
            exigencias del marco legal vigente , generando desarrollo y
            bienestar para la sociedad en el presente sin comprometer el legado
            para las generaciones futuras.
          </p>
        </div>
      </div>
    </div>

    <div class="hidden duration-700 ease-in-out" data-carousel-item>
      <div
        class="absolute flex justify-center items-center gap-5 w-full h-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
      >
        <img
          src="https://i.pinimg.com/236x/fb/a1/b7/fba1b7a007c0160a17a6d0e41697df66.jpg"
          class="w-1/2 rounded-t-full h-full object-contain"
          alt="..."
        />
        <div class="rounded-lg bg-white flex flex-col p-4 w-1/2 h-full shadow-2xl">
          <p class="font-bold text-black uppercase tracking-wide self-start">
            Valores
          </p>
          <p>
            1. Respeto por la vida de las personas.
            <br />
            2. La seguridad vial como Bandera 
            <br />
            3. Pasión por el aprendizaje de la calidad, la prevención y
               el medio ambiente 
            <br />
            4. El valor de las normas de tránsito. 
            <br />
            5. Honestidad y Credibilidad ante el Cliente y partes interesadas
          </p>
        </div>
      </div>
    </div>
    <!-- Slider indicators -->
    <div
      class="absolute z-30 flex -translate-x-1/2 bottom-5 left-1/2 space-x-3 rtl:space-x-reverse"
    >
      <button
        type="button"
        class="w-3 h-3 rounded-full"
        aria-current="true"
        aria-label="Slide 1"
        data-carousel-slide-to="0"></button>
      <button
        type="button"
        class="w-3 h-3 rounded-full"
        aria-current="false"
        aria-label="Slide 2"
        data-carousel-slide-to="1"></button>
      <button
        type="button"
        class="w-3 h-3 rounded-full"
        aria-current="false"
        aria-label="Slide 3"
        data-carousel-slide-to="2"></button>
      <button
        type="button"
        class="w-3 h-3 rounded-full"
        aria-current="false"
        aria-label="Slide 4"
        data-carousel-slide-to="3"></button>
      <button
        type="button"
        class="w-3 h-3 rounded-full"
        aria-current="false"
        aria-label="Slide 5"
        data-carousel-slide-to="4"></button>
    </div>
    <!-- Slider controls -->
    <button
      type="button"
      class="absolute top-0 start-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
      data-carousel-prev
    >
      <span
        class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none"
      >
        <svg
          class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 6 10"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M5 1 1 5l4 4"></path>
        </svg>
        <span class="sr-only">Previous</span>
      </span>
    </button>
    <button
      type="button"
      class="absolute top-0 end-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
      data-carousel-next
    >
      <span
        class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none"
      >
        <svg
          class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 6 10"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="m1 9 4-4-4-4"></path>
        </svg>
        <span class="sr-only">Next</span>
      </span>
    </button>
  </div>

  <script
    is:inline
    src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.js"
  ></script>
</div>
