
<footer class=" body-font ">
  <div class="container px-5 py-24 mx-auto flex md:items-center lg:items-start md:flex-row md:flex-nowrap flex-wrap flex-col">
    <div class="w-64 flex-shrink-0 md:mx-0 mx-auto text-center md:text-left">
      <a class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900">
        <img  src="public/LogoVigilado.webp"/>
    </div>
    <div class="flex-grow flex flex-wrap md:pl-20 -mb-10 md:mt-0 mt-10 md:text-left text-center">
      <div class="lg:w-1/4 md:w-1/2 w-full px-4">
        <h2 class="title-font font-medium text-gray-900 tracking-widest text-sm mb-3">A donde deseas ir</h2>
        <nav class="list-none mb-10">
          <li>
            <a class="text-gray-600 hover:text-gray-800">INICIO</a>
          </li>
          <li>
            <a class="text-gray-600 hover:text-gray-800">SISTEMA DE GESTION</a>
          </li>
          <li>
            <a class="text-gray-600 hover:text-gray-800">POLITICAS</a>
          </li>
          <li>
            <a class="text-gray-600 hover:text-gray-800">SERVICIOS</a>
          </li>
          <li>
            <a class="text-gray-600 hover:text-gray-800">FLOTAS Y CLIENTES</a>
          </li>
          <li>
            <a class="text-gray-600 hover:text-gray-800">EVENTOS</a>
          </li>
          <li>
            <a class="text-gray-600 hover:text-gray-800">DUDAS</a>
          </li>
          <li>
            <a class="text-gray-600 hover:text-gray-800">PQRS</a>
          </li>
          <li>
            <a class="text-gray-600 hover:text-gray-800">CONTACTO</a>
          </li>
        </nav>
      </div>
      <div class="lg:w-1/4 md:w-1/2 w-full px-4">
        <h2 class="title-font font-medium text-gray-900 tracking-widest text-sm mb-3">ENCUENTRANOS</h2>
        <nav class="list-none mb-10">
          <li>
            <a class="text-gray-600 hover:text-gray-800">Carrera 13 Nro. 9A - 77 (Barrio: San Joaquin) <br>
              Valledupar - Cesar - Colombia</a>
          </li>
          <li>
            <a class="text-gray-600 hover:text-gray-800">3184899672-3184560574</a>
          </li>
          <li>
            <a class="text-gray-600 hover:text-gray-800">gerencia@transemco.com.co</a>
          </li>
          <li>
            <a href="">Escribenos a whatsapp </a>
          </li>
        </nav>
      </div>
    
    </div>
  </div>
 
</footer>

<style>
  footer{
    background-color: #BDE9FB;
  }
</style>