


<div
  class="w-full z-10 flex md:flex-col justify-center items-center md:gap-4 gap-10 p-5 shadow-xl"
>
  <a href="/" class="md:flex md:justify-center md:w-2/5"
    ><img
      src="/Transemcologo.png"
      alt=""
      class="w-full h-full animate__animated animate__backInLeft"
    /></a
  >

  <ul
    class="hidden md:flex gap-4 text-2xl leading-loose items-center font-semibold cursor-pointer transition-all duration-200 ease-linear"
  >
    <li class="hover:text-primary transition-all duration-200 ease-linear">
      <a href="/">Inicio</a>
    </li>
    <li class="hover:text-primary transition-all duration-200 ease-linear">
      <a href="/SistemasGestion">Sistemas de Gestión</a>
    </li>
    <li class="hover:text-primary transition-all duration-200 ease-linear">
      <a href="/Politicas">Políticas</a>
    </li>
    <li class="hover:text-primary transition-all duration-200 ease-linear">
      <a href="/Servicios">Servicios</a>
    </li>
    <li class="hover:text-primary transition-all duration-200 ease-linear">
      <a href="/FlotaClientes">Flota y Clientes</a>
    </li>
    <li class="hover:text-primary transition-all duration-200 ease-linear">
      <a href="/Eventos">Eventos</a>
    </li>
    <li class="hover:text-primary transition-all duration-200 ease-linear">
      <a href="/Dudas">¿Dudas?</a>
    </li>
    <li class="hover:text-primary transition-all duration-200 ease-linear">
      <a href="/Pqrs">PQRS</a>
    </li>
    <li class="hover:text-primary transition-all duration-200 ease-linear">
      <a href="/Contacto">Contacto</a>
    </li>
  </ul>
</div>
