---
interface Props {
  Title: string;
  Description: string;
  Image: string;
  inverse: boolean;
}

const { Title, Description, Image, inverse } = Astro.props;
---

<section class="text-gray-600 body-font">
  <div
    class="container mx-auto flex px-5 py-24 md:flex-row flex-col items-center"
  >
    <div
      class:list={[
        "lg:flex-grow md:w-1/2  flex flex-col md:items-start md:text-left mb-16 md:mb-0 items-center text-center",
        inverse ? "md:order-1" : "" , Image!="" ? "" : "W-full"
      ]}
    >
      <h1
        class="title-font sm:text-4xl md:text-start text-center w-full  text-3xl mb-4 md:w-4/5 mx-auto font-medium text-gray-900"
      >
        {Title}
      </h1>
      <p class="mb-8 leading-relaxed md:text-lg text-justify mx-auto w-4/5">
        {Description}
      </p>
    </div>
    <div class:list={["lg:max-w-lg lg:w-full md:w-1/2 w-5/6 h-96", Image!="" ? "" : "hidden" ]}>
      <img
        class="object-cover object-center rounded w-full h-full"
        alt="hero"
        src={Image}
      />
    </div>
  </div>
</section>
