<section class="text-gray-600 body-font">
    <div class="container px-5 py-10 mx-auto flex flex-wrap">
      <div class="flex flex-wrap md:-m-2 -m-1">
        <div class="flex flex-wrap w-full md:w-3/5 mx-auto">
          <div class="md:p-2 p-1 w-full">
            <img alt="gallery" class="w-full h-full object-cover hover:scale-100 transition-all object-center " src="https://i.pinimg.com/236x/a7/11/a8/a711a8825f8491121b14935f74f568ef.jpg">
          </div>
          <div class="md:p-2 p-1 w-1/2">
            <img alt="gallery" class="w-full object-cover h-full object-center block" src="https://dummyimage.com/502x302">
          </div>
          <div class="md:p-2 p-1 w-1/2">
            <img alt="gallery" class="w-full object-cover h-full object-center block" src="https://dummyimage.com/503x303">
          </div>
        </div>
      </div>
    </div>
  </section>