---
interface Props {}

const {} = Astro.props;
---

  <div class="md:w-3/5 w-4/5 my-5 h-screen rounded-xl mx-auto relative">
    <img
      src="https://media.giphy.com/media/3o7aD2X9Y2M6pH0Yqo/giphy.gif"
      class="absolute inset-0 w-full h-full object-cover rounded-xl"
      alt="Gif de fondo"
    />
    <div class="absolute inset-0 rounded-xl z-10 bg-black opacity-50"></div>
    <div
      class="z-20 absolute inset-0 flex flex-col w-full break-words h-full gap-5 justify-center items-center"
    >
      <img src="/Transemcologo.png" alt="" class="w-3/5 object-contain" />
      <p class="tracking-wider md:text-5xl text-2xl text-white">QUIÉNES SOMOS</p>
      <p class="text-white md:text-2xl ">Lo llevamos hasta su destino</p>
      <p class="w-4/5 text-sm md:text-lg text-white text-justify">
        QUIÉNES SOMOS Lo llevamos hasta su destino Seguros y eficientes,
        ofrecemos servicios de transporte especial en toda Colombia . Nuestro
        equipo puede encargarse de cualquier trabajo, pequeño o grande. Los
        clientes saben que nuestro trabajo está garantizado y que la
        satisfacción es nuestra prioridad principal. Estamos ubicados en la
        Ciudad de Valledupar, nuestra dedicación, nuestros precios increíbles y
        la atención por el detalle nos hacen destacar. contacte a nuestro equipo
        profesional para ayudarlo
      </p>
    </div>
  </div>


<style></style>
